.row
  %h1 About us
  
.row
  .span8
    %h2 Purpose
    %h4 “WeCollaborate is a community of people who help and support each other in bringing their ideas to life.”
    %p We provide an open platform for collaborative creators with a culture of sharing and a new approach to working. Like Meetup, Kickstarter, and FabLab we want to use the web to facilitate group participation. We want to make it easy for people like you and me to exchange our skills knowledge and expertise with others who are willing to do the same.
    %p WeCollaborate is about giving everyone the opportunity to bring their ideas to life, it is about people being empowered by working with their passion. Whether you want to start and incubate a project of your own or you want to be part of something greater, WeCollaborate is the place to look. We Welcome you to our economy of ideas where we are what we share!
  .span4
    .center= image_tag "dummy/purpose.png", :height => '300px'

.row
  .span12
    %h2 Principles

.row
  .span4
    %h4 Social Enterprise
    %p Our mission is to help bring creative projects to life.
    
    %h4 Open Source
    %p The WeCollaborate Platform is an open source platform meaning anybody has the possibility to run, read, learn from, modify and redistribute the code.

  .span4
    %h4 Creative Commons and Copyright
    %p WeCollaborate has no rights and will not claim any rights in any work you share on the site or in Live Sessions. Protection of your intellectual property rights is a matter for you. In the Contribution and Participation circle of the online platform ideas are protected under creative commons licences. The rights between Collaborators and Intiators is a matter for them to decide.

  .span4
    .wrapper
      .ribbon-wrapper-green
        .ribbon-green BETA
      We're about to launch this page. Would you like to signup for the beta?
      %br
      %br
      #beta-facebook-button
        #facebook-login-btb
          = link_to "login with <span>facebook</span>".html_safe, user_omniauth_authorize_path('facebook') 
    
.row
  .span8
    .thumbnail{:style => "width:100%; height: 300px"}
      .thumb{:style => "width: 100%; height: 100%; background: lightgray"}
  .span4
    %h2 How does it work?
    %h4 Responsibility
    %p People can take part in a project with different degrees of responsibility which allows for a dynamic working system where people with different amounts of time can participate in the way that best suites them.
    
    %h4 Project phases
    %p When a project is initiated the project initiator can choose what phase the project is in. He must take care to move the project through the phases as the project progresses.

    %h4 Rewards
    %p When a project is initiated the project initiator can choose the reward systems they wish to use. This indicates to the potential collaborators what they can get as a result for working on a project. In general there are only private rewards for collaborators unless otherwise stated.
    
