.box.yellow-box
  This page is under construction!
  .sub 
    Sorry for any inconvenience.
    
.box.orange-box
  = link_to "Back to previous page", "javascript: history.go(-1)"

.hexagon-red
.hexagon-blue    