.box.yellow-box
  This page is under construction!
  .sub 
    Sorry for any inconvenience.
    
.box.orange-box
  = link_to "Back to previous page", "javascript: history.go(-1)", :style => "height: 100%;width: 100%; display: block;"

.hexagon-red
.hexagon-blue    