<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Dear <%= @user.fullname %></h3>
    <p>
      Thank you for joining WeCollaborate. At the moment we are busy getting this platform up and running. It takes a lot of time organisation and energy to get everything running smoothly but we are almost there. Feel free to contact us at <%= @url %> for more information. In the mean time we will keep you posted on our progress.<br/>
    </p>
    <p>Kind regards,</p>
    <p>Conor</p>
  </body>
</html>
