* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -210px;
}

.footer, .push-footer {
  height: 170px;
}