- if activity.trackable 
  .block.timeline_entry.user
    %span#edge
    %strong  added User
    .pull-right.date #{time_ago_in_words(activity.trackable.created_at)} ago
    %p
      added user: #{activity.trackable.email}

