.btn-wecollaborate {
  background: $weCollaborateBlue;
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  line-height: 1.1em;
  font-family: 'AkkoRounded';
  text-shadow: 0 0 0;
  border: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  
  &:hover {
    background: #de602e;
    color: #ffffff;
    text-shadow: 0 0 0 ;
  }
}