@mixin defaults($color) {
  @if $color == 'yellow' {
    $logo: '/images/logo_and_buttons/WeCollaborate_Logo_3.png';
    $logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Hover_3.png';
    $main_color: $weCollaborateYellow;
    $twitter: '/images/logo_and_buttons/Twitter_3.png';
    $facebook: '/images/logo_and_buttons/Facebook_3.png';
    $small_logo: '/images/logo_and_buttons/WeCollaborate_Logo_Small__3.png';
    $small_logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Small_Hover_3.png';
    $beta_color: $weCollaborateBlue;
    @include defaults-body($logo, $logo_hover, $main_color, $twitter, $facebook, $small_logo, $small_logo_hover);
  } 
  @if $color == 'red' {
    $logo: '/images/logo_and_buttons/WeCollaborate_Logo_2.png';
    $logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Hover_2.png';
    $main_color: $weCollaborateRed;
    $twitter: '/images/logo_and_buttons/Twitter_2.png';
    $facebook: '/images/logo_and_buttons/Facebook_2.png';
    $small_logo: '/images/logo_and_buttons/WeCollaborate_Logo_Small__2.png';
    $small_logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Small_Hover_2.png';
    $beta_color: $weCollaborateYellow;
    @include defaults-body($logo, $logo_hover, $main_color, $twitter, $facebook, $small_logo, $small_logo_hover);
  } 
  @if $color == 'blue' {
    $logo: '/images/logo_and_buttons/WeCollaborate_Logo_1.png';
    $logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Hover_1.png';
    $main_color: $weCollaborateBlue;
    $twitter: '/images/logo_and_buttons/Twitter_1.png';
    $facebook: '/images/logo_and_buttons/Facebook_1.png';
    $small_logo: '/images/logo_and_buttons/WeCollaborate_Logo_Small__1.png';
    $small_logo_hover: '/images/logo_and_buttons/WeCollaborate_Logo_Small_Hover_1.png';
    $beta_color: $weCollaborateRed;
    @include defaults-body($logo, $logo_hover, $main_color, $twitter, $facebook, $small_logo, $small_logo_hover);
  } 
}

@mixin defaults-body($logo, $logo_hover, $main_color, $twitter, $facebook, $small_logo, $small_logo_hover) {
  /* Header */
  .logo {
    background: url($logo) no-repeat top left;
    &:hover {
      background: url($logo_hover) no-repeat top left;
    }
  }
  
  .beta {
    background: $weCollaborateBlue;
  }

  .navigation-bar {
    ul li {
      a {
        &:hover {
          background: $main_color;
        }
      }
      .active {
        background: $main_color;
      }
    }
  }

  /* Footer */
  footer {
    h2 {
      color: $main_color;
    }
    
    .twitter-logo {
      background: url($twitter) no-repeat top left;
    }
  
    .facebook-logo {
      background: url($facebook) no-repeat top left;
    }
    
    .logo-footer {
      background: url($small_logo) no-repeat top left;
      &:hover {
        background: url($small_logo_hover) no-repeat top left;
      }
    }
  }
  .horizontal-info {
    &:hover {
      background: $main_color;
    };
  }

}

#static_pages_controller {
  @include defaults('yellow');
}

#projects_controller {
  @include defaults('red');
}

#about_page {
  @include defaults('red');
}

#registrations_controller {
  @include defaults('blue');
}

