$gridColumnWidth: 62px;
@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variable, etc. */

$grayMediumLight: #eaeaea;
//$weCollabrateBlue: #1488bf;
$weCollabrateBlue: #60c0e5;
$weCollabrateBlack: #0D0D0D;
$weCollabrateOrange: #de602e;

$weCollaborateBackgroundFooter: #f2f6f7;

@import "button";

@mixin alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

@mixin alpha75 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.75 opacity */
	background: rgba(255, 255, 255, 0.75);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ab000000, endColorstr=#ab000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ab000000, endColorstr=#ab000000)";
}

@mixin alpha85 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.75 opacity */
	background: rgba(255, 255, 255, 0.85);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e3000000, endColorstr=#e3000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e3000000, endColorstr=#e3000000)";
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin we_box {
  border-top: 1px dashed $weCollabrateBlue;
  border-bottom: 1px dashed $weCollabrateBlue;

  /* http://www.colorzilla.com/gradient-editor/ */
  
  background: #f9f9f9; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2YyZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2YyZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

  background: -moz-linear-gradient(left,  #f9f9f9 0%, #f2f6f7 10%, #f2f6f7 90%, #f9f9f9 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(10%,#f2f6f7), color-stop(90%,#f2f6f7), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left,  #f9f9f9 0%,#f2f6f7 10%,#f2f6f7 90%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left,  #f9f9f9 0%,#f2f6f7 10%,#f2f6f7 90%,#f9f9f9 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(left,  #f9f9f9 0%,#f2f6f7 10%,#f2f6f7 90%,#f9f9f9 100%); /* IE10+ */

  background: linear-gradient(to right,  #f9f9f9 0%,#f2f6f7 10%,#f2f6f7 90%,#f9f9f9 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-8 */

}
/* universal */

html {
  overflow-y: scroll;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* lighter body text */

body {
  color: #5a5a5a;
  letter-spacing: 0.1em;
  // background: #f9f9f9;
  background: url(grid-09.png) repeat top left;
  background-image: -webkit-image-set( url(grid-09.png) 1x, url(grid-09_2X.png) 2x );
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.content {
  padding-top: 30px;
	min-height: 600px;
  
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navigation-bar {
  background: #ffffff;
  padding-top: 5px;
  .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 20px;
    font-weight: bold;
  //  font-family: 'betonef_lightregular';
    font-family: 'betonef_extraboldregular';
    color: $weCollabrateBlue;
    strong { 
      color: $weCollabrateBlack;
      font-family: 'betonef_extraboldregular';
    }
  }
  
  ul li {
    display: inline;
    a {
      color: $weCollabrateBlack;
      font-size: 1.5em;
      font-family: 'AkkoRounded';
    }
  }
}

/* typegraphy */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $weCollabrateBlue;
  font-family: 'AkkoRounded';
  
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  @include we_box;
  
  strong {
    border-bottom: 2px solid #d9de78;
  }
}

h2 {
  font-size: 1.7em;
  font-weight: light;
  color: $weCollabrateBlack;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  @include we_box;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  width: 100%;
  background: #ffffff;
  margin-top: 45px;
  padding-top: 5px;

  color: $grayLight;


  a {
    text-decoration: underline;
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  ul {
    list-style: none;
    li {
      margin-left: 0px;
    }
  }
  
  h2 {
    text-align: left;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.divider {
  background-color: $weCollabrateBlue;
  height: 5px;
  width: 100%;
  display: block;
}

/* login box */
.login_box  {
  border: 1px $weCollabrateBlue solid;
  padding: 40px;
	
  -moz-border-radius:3px; 
	border-radius:3px; 
	-webkit-border-radius:3px; 
  
}

/* shareable buttons */
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left; overflow:hidden;}
nav.share iframe {max-height:20px; border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {max-width:70px; font-size: default; @important}
.twitter-share-button, .twitter-count-horizontal {max-width:80px;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

#beta-facebook-button {
  margin: 10px 0px;
}

#facebook-login-btb {
    font-size: 14px;
}

#facebook-login-btb span{
	font-weight:bold;
}

#facebook-login-btb a {
	text-shadow:0 0 2px rgba(0,0,0,0.3);
  background: linear-gradient(to top,  rgba(131,155,195,1) 0% , rgba(87,111,163,1) 100%);
//  background: linear-gradient(to top,  #f9f9f9 0%,#f2f6f7 10%,#f2f6f7 90%,#f9f9f9 100%); /* W3C */
  border: 1px solid #566383;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 0 #CADBFE inset, 0 3px 0 0 #2D447F, 0 4px 2px #999999;
  color: #FFFFFF;
  display: inline-block;
  line-height: 30px;
	height:30px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  top: -1px;
  transition-property:top, box-shadow;   
  transition-duration: 0.1s, 0.1s;   
  transition-timing-function: linear, linear; 
}

#facebook-login-btb a:hover {
	background-image: linear-gradient(to top, rgba(139,161,199,1) 0% , rgba(96,119,170,1) 100%);
}

#facebook-login-btb a:active
{
box-shadow: 0 1px 0 #cadbfe inset, 0 1px 0 0 #2d447f, 0 2px 2px #999999;
top:2px;
}

/* Main screen */
.box {
  background: white;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
  @include alpha85;
}

.blue-box {
  background: $weCollabrateBlue;
  color: white;
  padding: 15px;
  font-size: 60px;
  line-height: 60px;
  font-family: 'AkkoRounded';
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.orange-box {
  background: $weCollabrateOrange;
  color: white;
  padding: 15px;
  font-size: 45px;
  line-height: 45px;
  font-family: 'AkkoRounded';
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.update-box {
  .title {
    font-size: 22px;
    line-height: 1.1em;
    font-family: 'AkkoRounded';
    font-weight: bold;
    font-style: italic;
  }
}

.quote {
  color: $weCollabrateBlack;
  font-size: 30px;
  line-height: 1.1em;
  font-family: 'AkkoRounded';
  font-weight: bold;
  font-style: italic;
}

.link {
  font-family: 'AkkoRounded';
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
  a {
    text-decoration: underline;
  }
}

.horizontal-info {
  .tag {
    font-size: 8px;
    text-transform: uppercase;
  }
  
  .title {
    color: $weCollabrateBlack;
    font-size: 30px;
    line-height: 1.1em;
    font-family: 'AkkoRounded';
    font-weight: bold;
  }
  
  .author {
    font-family: 'AkkoRounded';
    font-size: 12px;
  }
}

.banner {
  padding: 40px;
  .title {
    color: $weCollabrateBlack;
    font-size: 50px;
    line-height: 1.1em;
    font-family: 'AkkoRounded';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

.vertical-info {
  .title {
    color: $weCollabrateBlack;
    font-size: 30px;
    line-height: 1.1em;
    font-family: 'AkkoRounded';
    font-weight: bold;
  }
  .sub-title {
    color: $weCollabrateBlack;
    font-size: 20px;
    line-height: 1.1em;
    font-family: 'AkkoRounded';
    font-weight: bold;
  }
  .link {
    font-size: 0.8em;
  }
}
