/* mixins, variable, etc. */

$grayMediumLight: #eaeaea;
$weCollabrateBlue: #73E8FF;
$weCollabrateBlack: #0D0D0D;

/***** MAIN CONTAINER *****/

.maincontainer {
	padding: 10px;
	width: 860px;
	margin-left: auto;
	margin-right: auto;
  background: url(/assets/timeline_bg.gif);

}

/***** END MAIN CONTAINER *****/

/***** TIMELINE CONTAINER *****/

.timelinecontainer {
	position: relative;
	width: 100%;	
	min-height: 600px;
	margin-top: 10px;
}

.timeline {
	margin-left: 50%;
	height: 99%;
	width: 3px;
	background: #c3ccdf;	
	position: absolute;
}

.timeline:hover {
	cursor: pointer;
}

#timelineblock {
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
	list-style-type: none;
	width:860px;		

}


.block {
	padding: 5px;
	margin: 0px;
	width: 340px;


	background: #fff;
	border: 1px solid #c4cde0;

	-moz-border-radius:3px; 
	border-radius:3px; 
	-webkit-border-radius:3px; 
}

.global {
	border: 1px solid $weCollabrateBlue;
  strong {
    color:  $weCollabrateBlue;
  }
}

.block:hover {
	border: 1px solid #9fafd0;
  .global {
  	border: 1px solid $weCollabrateBlue;
  	-moz-border-radius:3px; 
  	border-radius:3px; 
  	-webkit-border-radius:3px; 
  }
}



/***** END TIMELINE CONTAINER *****/



/***** ARROW EDGES *****/


#edge {
	position: absolute;
	padding: 0px;
}

.redge {
	display: block;
	margin:0px;
	margin-left: 345px;

	width:20px;
	height:15px;
	background: url(/assets/timeline_right.gif);
}

.ledge {
	display: block;
	margin:0px;
	margin-left: -28px;

	width:23px;
	height:15px;
	background: url(/assets/timeline_left.gif);
}

.redge_h {
	background: url(/assets/timeline_right.gif) 21px;
}

.ledge_h {
	background: url(/assets/timeline_left.gif) 23px;
}

.block:nth-child(2) {
  .ledge {
    margin-top: 15px;
  }
}

/***** END ARROW EDGES  *****/


/*****  TIMELINE CONTENTS *****/


.block {
  p {
	  padding: 7px 0 7px 0;
	  margin: 0px;
	  font-size: 12px;
	  font-family: Arial;
    
  }
  .date {
    font-size: 12px;
  }
  strong {
    font-family: 'betonef_lightregular';
	  font-size: 16px;
  }
}

.pic {
	width: 310px;
	margin: 5px 0 0 10px;
	height: 210px;
	padding: 3px;
}

/***** END  TIMELINE CONTENTS *****/
