$grayMediumLight: #eaeaea;

// new
$weCollaborateRed:        #ED5522;
$weCollaborateBlue:       #15A6DF;
$weCollaborateYellow:     #FFCD0B;
$weCollaborateGreen:      #3F9E36;
$weCollaboratePaleRed:    #FADBC9;
$weCollaboratePaleBlue:   #CEEAF8;
$weCollaboratePaleYellow: #FFF2C4;
$weCollaboratePurple:     #A84888;
$weCollaborateDarkBlue:   #4B699E;
$weCollaborateTurquoise:  #00B9BD;
$weCollaborateBlack:      #000000;
$weCollaborateOffBlack:   #231F20;
$weCollaborateDarkGrey:   #333333;
$weCollaborateGrey:       #808080;

////$weCollaborateBlue: #1488bf;
//$weCollaborateBlue: #60c0e5;
//$weCollaborateOffBlack: #0D0D0D;
//$weCollabrateOrange: #de602e;
//
//$weCollaborateBackgroundFooter: #f2f6f7;
