#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      = image_tag "carousel.png", :alt => "wecollaborate"
      .container
        / .carousel-caption
        /   %h1 Example headlin1.
        / %p.lead blurk is de header
        / %a.btn.btn-large.btn-primary{:href=>'#'}Here
    .item
      = image_tag "carousel.png", :alt => "wecollaborate"
      .container
        / .carousel-caption
        /   %h1 Example headlin2.
        / %p.lead blurk is de header2
        / %a.btn.btn-large.btn-primary{:href=>'#'}Here
  %a.left.carousel-control{:href=>'#myCarousel', :'data-slide'=> "prev"} &lsaquo;
  %a.right.carousel-control{:href=>'#myCarousel', :'data-slide'=> "next"} &rsaquo;

:javascript
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)