.container.marketing
  .row
    .span4
      %span
        %h2 We Collaborate
      %span is an online platform which facilitates a community  of people who are willing to share their skills, knowledge and time.
    .span4
      %span
        %h2 Passion
      %span is underlaying factor which binds the participants.
    .span4
      %span 
        %h2 Professionals and Hobbyists
      %span can use this platform in order to work with other enthusiastic and passionate people.
